@import"variables";
@import"principal";
@import"sobre-nosotros";
@import"formulario-reservas";
 



.titulos{
    font-size: 4em;
    font-weight: bold;
}


.titulos-sub {
    font-weight:bold;
    font-size: 25px;
}